# **pandas** Basics

1. Given is the dictionary object

In [1]:
wpa = {'North America':{'med_wpa':65022,'mean_wpa':391690,'adult_000':271933},
       'Europe':{'med_wpa':18153,'mean_wpa':144903,'adult_000':589373},
       'China':{'med_wpa':16333,'mean_wpa':47810,'adult_000':1085003},
       'Latin America':{'med_wpa':4372,'mean_wpa':18605,'adult_000':432919},
       'India':{'med_wpa':1289,'mean_wpa':7024,'adult_000':850210}
      }

In [2]:
wpa

{'North America': {'med_wpa': 65022, 'mean_wpa': 391690, 'adult_000': 271933},
 'Europe': {'med_wpa': 18153, 'mean_wpa': 144903, 'adult_000': 589373},
 'China': {'med_wpa': 16333, 'mean_wpa': 47810, 'adult_000': 1085003},
 'Latin America': {'med_wpa': 4372, 'mean_wpa': 18605, 'adult_000': 432919},
 'India': {'med_wpa': 1289, 'mean_wpa': 7024, 'adult_000': 850210}}

Create a **pandas** data frame object *wpa_df* from the above given dictionary object. Also display the view of the data frame

2. Import the file *Cars93.csv* from the folder datasets into pandas data frame object  
a. store it in the object **cars_df**

    b. display the meta data of the object **cars_df**

3. From the object created above **cars_df** extract the records of cars with Manufacturer 'Chevrolet' and store them in the object **Chev_df**

4. From the object created above **cars_df** extract the records of cars with Price > 20 and having Driver & Passenger side air bags and store them in the object **Exp_Air_Bag**

5. From the object created above **cars_df** , select only the columns 'Model','Price','AirBags' and 'Origin' and store them in the object **ss_cars**.